### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

House of Pymoli Data Analysis

-Total purchase count was 780, but there are only 576. There are many repeat buyers.

-This game has a large percentage of male players, around 84%.

-Largest age group this game has is inbetween ages 20-24, at around 45%.

In [40]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [41]:
#Player Count
player = len(purchase_data["SN"].value_counts())
player_count=pd.DataFrame([player],columns=["Total Players"])
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
unique_items = len(purchase_data["Item ID"].unique())
print(unique_items)

avg_price = (purchase_data["Price"].mean())
print(avg_price)

tot_purch = (purchase_data["Price"].count())
print(tot_purch)

tot_rev = (purchase_data["Price"].sum())
print(tot_rev)

183
3.050987179487176
780
2379.77

In [43]:
purch_analysis_tot = pd.DataFrame({
    "Number of Unique Items":unique_items
      ,"Average Price":[avg_price],
    "Number of Purchases":[tot_purch],
    "Total Revenue":[tot_rev]
})

purch_analysis_tot=purch_analysis_tot.round(2)
purch_analysis_tot["Average Price"]=purch_analysis_tot["Average Price"].map("${:,.2f}".format)
purch_analysis_tot["Total Revenue"]=purch_analysis_tot["Total Revenue"].map("${:,.2f}".format)
purch_analysis_tot=purch_analysis_tot.loc[:,["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
purch_analysis_tot

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [60]:
gender_demographics = purchase_data.loc[:,["Gender","SN","Age"]]
gender_demographics= gender_demographics.drop_duplicates()

gender_demographics_totals= gender_demographics["Gender"].value_counts()

demographics_percent= gender_demographics_totals/player*100
demographics_percent

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [61]:
gender_demographics_totals=pd.DataFrame({"Total Count":gender_demographics_totals,"Percentage of Players":demographics_percent})
gender_demographics_totals

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [86]:
all_gender_df = purchase_data.groupby('Gender')

player_count = all_gender_df['SN'].count()
player_count_df = pd.DataFrame(player_count)

avg_price = all_gender_df['Price'].mean()

total_gender_purchase = all_gender_df['Price'].sum()

norm_total = total_gender_purchase / player_count

player_count_df['Average Purchase Price'] = avg_price
gender_purchase_df = pd.DataFrame(player_count_df)

new_gender_purchase_df = gender_purchase_df.rename(columns={
    'SN': 'Purchase Count',
})

new_gender_purchase_df['Total Purchase Price'] = total_gender_purchase
new_gender_purchase2_df = pd.DataFrame(new_gender_purchase_df)

new_gender_purchase2_df['Normalized Totals'] = norm_total
total_gender_purchase_df = pd.DataFrame(new_gender_purchase2_df)
total_gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Normalized Totals
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [124]:
age_bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,9999]
group_brackets = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels = group_brackets)

age_demographics_totals = player_demographics["Age Ranges"].value_counts()

age_demographics_percents = age_demographics_totals / player * 100

age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})

age_demographics = age_demographics.round(2)

age_demographics.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [144]:
purchase_data["Age Ranges"]= pd.cut(purchase_data["Age"], age_bins, labels = group_brackets()

age_purchases = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")

age_average = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")

age_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

normalized_total= age_purchases_total / age_demographics["Total Count"]

age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average, "Total Purchase Value": age_purchases_total,"Normalized Totals": normalized_total})

age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:,.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:,.2f}".format)
age_data["Purchase Count"] = age_data["Purchase Count"].map("{:,}".format)
age_data["Normalized Totals"] = age_data["Normalized Totals"].map("${:,.2f}".format)
age_data = age_data.loc[:,["Purchase Count","Average Purchase Price","Total Purchase Value","Normalized Totals"]]
age_data

SyntaxError: invalid syntax (<ipython-input-144-562362214c60>, line 3)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [136]:
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})

user_data["Average Purchase Price"]=user_data["Average Purchase Price"].map("${:,.2f}".format)
user_data["Total Purchase Value"]=user_data["Total Purchase Value"].map("${:,.2f}".format)
user_data= user_data.loc[:,["Purchase Count","Average Purchase Price","Total Purchase Value"]]

user_data.sort_values("Total Purchase Value", ascending=False).head(5)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [139]:
premerge_one=purchase_data.groupby("Item Name").sum().reset_index()
premerge_two=purchase_data.groupby("Item ID").sum().reset_index()
premerge_three=purchase_data.groupby("Item Name").count().reset_index()

merge_one=pd.merge(premerge_one,premerge_two, on="Price")
merge_two=pd.merge(premerge_three,merge_one, on="Item Name")

merge_two["Gender"]=(merge_two["Price_y"]/merge_two["Item ID"]).round(2)

merge_two_new=merge_two.rename(columns={"Age":"Purchase Count","Gender":"Item Price","Item ID":"null","Price_y":"Total Purchase Value","Item ID_y":"Item ID"})

clean_df=merge_two_new[["Item ID","Item Name","Purchase Count","Item Price","Total Purchase Value"]]

prefinal_df=clean_df.set_index(['Item Name','Item ID'])
popular_items_final=prefinal_df.sort_values('Purchase Count', ascending=False).head(6)
popular_items_final.style.format({"Item Price":"${:.2f}","Total Purchase":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [141]:
profit_items=prefinal_df.sort_values('Total Purchase Value', ascending=False).head()
profit_items.style.format({"Item Price":"${:.2f}","Total Purchase Value":"${:.2f}"})